.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #641864;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-left .left-image {
    width: 120px;
    height: 40px;
  }
  
  .header-left .left-image img {
    width: 100%;
    height: auto;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .right-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  